.square {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  color: black;
  border: 3px solid black;
  border-radius: 0;
}
.container-one {
  display: flex;
  margin-left: 100px;
}
.player-tray {
  display: flex;
  gap: 300px;
}
.button-reset {
  width: 150px;
  height: 60px;
}
